
<div class="col-xl-4 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="heading-multiple-thumbnails">Profil Bilgileri ve İstatistikleriniz</h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
        </div>
        <div class="card-content">
            <div class="card-body">
                <p>Traversal Rezervasyon Web Uygulamasının kullanıcı dashboard panelinde bulunmaktasınız. Aşağıda sizin ve acentamızın bazı istatistik bilgileriyer almaktadır. Bu istatistiklerin sizlerle birlikte artmasını temenni ediyoruz. Gezifolu daha nice günde buluşmak dileğiyle.</p>
                <h4 class="card-title">.........</h4>
                <h6>  Aktif Rezervasyon Sayınız : 4</h6>
                <h6>   Geçmiş Rezervasyon Sayınız : 12</h6>
                <h6>   Onay Bekleyen Rezervasyon Sayınız : 1</h6>
                <h6>   Toplam Rota Sayısı : 16</h6>
                <h6>   Rehber Sayımız : 6</h6>
                <h6>   Toplam Misafir Sayımız Sayımız : 1453</h6>
                <h6>   Ortalama Puanımı : 8.98/10</h6>
                <br />
            </div>
        </div>
    </div>
</div>